html{
    box-sizing: border-box;
    
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}

* ,*:before,*:after{
    box-sizing: inherit;

}
#box{
    height:auto;
    width: 400px;
    background-color: aliceblue;
    padding:20px 20px 50px 20px;
    border-radius: 10px;
    
}

#list-box{
    display: flex;
}


img{
    height: 40px;
    width: 40px;
    align-self:center;
}

#list-box2{
    display: flex;
    background: #edeef0;
    
}


input{
    border-radius: 10px;
    height: 30px;
    width: 95%;
    background: #edeef0;
    border: none;
    outline: none;

}

button{
    border-radius: 10px;
    height: 30px;
    width: 80px;
    background-color:orange;
    border: none;
}

ul li{
    list-style: none;
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    user-select: none;
    margin-bottom: 10px;
}

ul li::before{
    content: ' ';
    position:absolute;
    padding: 0px;
    height: 20px;
    width: 20px;
    background-image: url(uncheck.png);
    background-size: cover;
    top:0px; 
    left: -2px;
}

ul{
    padding: 0;
}

#check{
    text-decoration: line-through;
}
#check::before{
    width: 22px;
    position: absolute;
    left: -4px;
    background-image: url(check.png);
}

span{
    position: absolute;
    right: 20px;
    font-size: 20px;
    border-radius: 40px;
    width:20px;
    text-align: center;
    
    

}
button:hover{
    background-color: darkorange;
    transform:scale(1.1);
}

span:hover{
    
    transform: scale(1.2);
    background: #edeef0;


}



@media(min-width:414px)
{
    #box{
    
        margin: auto;
        margin-top: 10rem;
    }
}




